
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #369599;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$bg-color: #ffffff;
$bg-alt: #f8f8f8;
$accent-1: #369599;
$accent-1-dark: #2A6D71;
$black: #1e1e1e;
$dark-grey: #333333;
$medium-gray: #727272;
$light-gray: #dddddd;