@import 'functions';
@import 'variables';

/*-------------------
Global
-------------------*/

body {
	background-color: $white;
}


a {
	color: $accent-1;
	text-decoration: none;
	font-weight: bold;

	&:hover {
		color: $accent-1-dark;
		text-decoration: none;
	}
}

p {
	font-size: rem-calc(16);
	line-height: rem-calc(25);
	color: $medium-grey;
	font-weight: 300;
}

img {
	width: 100%;
	max-width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.table {
	tbody {
		th,
		td {
			vertical-align: middle;
		}
	}
}

.alert {
	margin-bottom: 0;
}
/*-------------------
Header and Menu
-------------------*/

.menu-top {
	background-color: $accent-1;

	.social-icons {
		li {
			padding-right: rem-calc(10);

			&:hover {
				color: $bg-alt;
			}
		}
	}

	.nav-item a {
		padding: rem-calc(0 10)
	}
}

.social-icons {
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	margin-bottom: 0;

	a {
		color: $body-bg;
	}
}

.dropdown-menu {
	.dropdown-item {
		color: $black;
	}
}

.header-nav {
	flex-wrap: nowrap;

	.dropdown {
		.user-thumb {
			width: 32px;
			height: 32px;
			margin-right: 10px;
		}

		.dropdown-toggle {
			padding: rem-calc(5 0);

			&::after {
				color: $white;
			}
		}

		.dropdown-menu-right {
			width: 100%;
			top: rem-calc(-3) !important;
			border-radius: 0;
		}
	}
}

.navigation-menu {
	.main-menu {

		.navbar-expand-md {
			justify-content: space-between;
		}

		.navbar {
			padding: 0;

			.navbar-collapse {
				flex-grow: 0;
			}

			.navbar-brand {
				max-width: rem-calc(120);
				margin-right: 0;

				@media (min-width: 768px) {
					max-width: rem-calc(200);
				}
			}

			.nav-link {
				color: $dark-grey;
			}
		}

		a {
			text-transform: uppercase;
		}
	}
}

/*-------------------
Main Content
-------------------*/

.main-content {
	min-height: calc(100vh - 300px);
	overflow-x: hidden;
}

/*-------------------
Search
-------------------*/

.search-area {
	background-color: $bg-alt;

	.search-container {
		background-color: $white;
		position: relative;
	}
}


.product-thumb {
	max-width: 100px;
}

.result-list {
	display: none;
	position: absolute;
	z-index: 1;
	width: calc(100% - 30px);
	background-color: $white;
	border: 1px solid $light-grey;
	border-top: 0;

	@media (min-width: 576px) {
		max-width: 510px;
	}

	@media (min-width: 768px) {
		max-width: 690px;
	}

	@media (min-width: 992px) {
		max-width: 930px;
	}

	@media (min-width: 1200px) {
		max-width: 1110px;
	}

	.list-group-item {
		a {
			display: block;
		}

		.product-thumbnail {
			max-width: 50px;
			margin-right: rem-calc(20);
		}

		&:first-child {
			border-top: 0;
		}
	}

	&.active {
		display: block;
	}
}

.shop-page-content,
.single-product-page-content {
	.search-area {
		background-color: $white;
	}
}

/*-------------------
Hero Content
-------------------*/

.hero-area {
	background-color: $bg-alt;

	.hero-category-container {
		background-color: $white;

		.navbar-toggler {
			display: flex;
			align-items: center;
			color: #ffffff;
			background-color: $accent-1;
			font-size: rem-calc(16);
			text-transform: uppercase;
			width: 100%;
			text-align: left;
			padding: rem-calc(15);
			margin-bottom: rem-calc(20);
			border: none;
			border-radius: 0;

			@media (min-width: 992px) {
				display: none;
			}

			span {
				margin-right: rem-calc(5);
				font-size: rem-calc(20);
			}
		}

		.category-menu {
			border: none;
			position: relative;
			float: none;
			top: 0;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					a {
						display: block;
						padding: rem-calc(10 25);
						line-height: rem-calc(30);
						font-size: rem-calc(14);
						color: $dark-grey;
						font-weight: 300;
						position: relative;
						border-bottom: 1px solid $bg-alt;
						transition: 0.2s ease-in-out;
					}

					&:hover a {
						color: $accent-1;
						font-weight: bold;
					}
				}
			}
		}

		.banner {
			&.mt-30 {

				@media (min-width: 992px) {
					margin-top: rem-calc(30);
				}
			}
		}

		.product-container {
			display: block;
			cursor: pointer;

			.image-container {
				position: relative;
			}

			.hero-details {
				bottom: 0;
				position: absolute;
				padding: rem-calc(15 30);
				background-color: rgba($accent-2, 0.7);
				color: $dark-grey;
				transition: 0.2s ease;

				.feature__title {
					color: $dark-grey;
					font-size: rem-calc(20);
					font-weight: bold;
					margin-bottom: rem-calc(5);
					transition: 0.2s ease;
				}
			}

			&:hover {
				.hero-details {
					background-color: rgba($accent-2, 0.9);
				}
			}
		}
	}

	.feature-area {
		display: flex;
		justify-content: space-around;

		.single-feature {
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			.icon {
				font-size: rem-calc(28);
				line-height: rem-calc(28);

				@media (min-width: 768px) {
					margin-right: rem-calc(16);
				}
			}

			p {
				font-size: rem-calc(14);
				line-height: rem-calc(15);
				color: $black;
				margin-bottom: 0;
				font-weight: bold;

				span {
					display: block;
					font-size: rem-calc(12);
					line-height: rem-calc(24);
					color: $medium-grey;
					font-weight: 300;
				}
			}
		}
	}
}

/*-------------------
Sections
-------------------*/

.section-title h2 {
	background-color: $white;
	color: $accent-1;
	z-index: 2;
	display: inline-block;
	padding-right: rem-calc(20);

	span {
		font-style: italic;
		font-weight: 300;
		color: $medium-grey;
	}

	&::before {
		position: absolute;
		top: 20px;
		width: 100%;
		height: 1px;
		background-color: rgba($accent-1, 0.2);
		content: "";
		z-index: -1;
	}
}

/*-------------------
Feature Products
-------------------*/

.feature-product {
	display: flex;
	flex-direction: column;

	.image {
		margin-bottom: rem-calc(20);
		position: relative;
		border-bottom: 4px solid transparent;
		transition: 0.3s ease-in-out;

		img {
			max-height: 200px;
			width: auto;
			margin: 0 auto;
			display: block;
		}

		.hover-icon {
			position: absolute;
			display: inline-block;
			right: rem-calc(10);
			top: rem-calc(10);
			padding: rem-calc(6 12);
			border-radius: 50%;
			text-align: center;
			visibility: hidden;
			opacity: 0;
			color: $white;
			font-size: rem-calc(20);
			text-decoration: none;
			transition: 0.3s ease-in-out;

			&:last-of-type {
				top: rem-calc(65);
			}

			&.heart {
				background-color: rgba($accent-3, 0.7);
			}

			&.view {
				background-color: rgba($accent-2, 0.7);
			}

			&:hover {
				&.heart {
					background-color: rgba($accent-3, 1);
				}

				&.view {
					background-color: rgba($accent-2, 1);
				}
			}
		}
	}

	.product-title a {
		font-weight: 300;
		color: $black;
	}

	.price {
		font-size: rem-calc(18);
		font-weight: 400;
		color: $accent-1
	}

	&:hover {
		.image {
			border-bottom: 4px solid $accent-2;

			.hover-icon {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

/*-------------------
Popular Categories
-------------------*/

.popular-categories {

	.category-banner {
		position: relative;

		a {
			&::before {
				position: absolute;
				top: 19.5px;
				right: 19.5px;
				bottom: 19.5px;
				left: 19.5px;
				border: 1.5px solid $accent-2;
				content: "";
				visibility: hidden;
				opacity: 0;
				-webkit-transition: 0.3s;
				-o-transition: 0.3s;
				transition: 0.3s;
				-webkit-transform: translate3d(-10px, 0, 0);
				transform: translate3d(-10px, 0, 0);
			}

			&:hover::before {
				visibility: visible;
				opacity: 1;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
		}
	}
}

/*-------------------
Footer
-------------------*/

.footer-container {
	background-color: $black;

	.footer-social-link-container {
		border-top: 1px solid $dark-grey;
		border-bottom: 1px solid $dark-grey;

		.social-icons {
			justify-content: space-evenly;

			a {
				color: $body-bg;
				transition: 0.2s ease-in-out;

				&:hover {
					color: $accent-1;
				}
			}
		}

		.title {
			font-size: rem-calc(14);
			line-height: rem-calc(16);
			color: $white;
			font-weight: 400;
			margin-right: 10px;
		}

		.app-download-area {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;

			.app-download-btn {
				font-size: rem-calc(14);
				color: $white;
				padding: rem-calc(7 15);
				border-radius: rem-calc(2);
				margin-right: rem-calc(10);
				display: inline-block;
				position: relative;
				font-weight: 400;
				background: $dark-grey;
				text-decoration: none;
				transition: 0.2s ease-in-out;

				&:hover {
					background: $accent-1;
				}
			}
		}
	}
}

.footer-bottom-navigation {
	background-color: $black;

	.navigation-container {
		list-style: none;
		display: flex;
		justify-content: space-evenly;
		color: $white;
		font-weight: 300;
		padding: 0;
		margin: 0;

		a {
			color: $white;
			font-weight: 300;
			transition: 0.1s ease-in-out;

			&:hover {
				color: $accent-1;
				font-weight: bold;
			}
		}
	}

	.copyright-text {
		font-size: rem-calc(14);
		color: $white;
		margin: 0;
	}
}

.single-product-details-container {
	.product-title {
		font-size: rem-calc(26);
		line-height: rem-calc(24);
		font-weight: 700;
		color: $black;
	}

	.comment-links a {
		margin-right: rem-calc(15);
		font-weight: 400;
		color: $medium-grey;
		transition: 0.1s ease-in-out;

		&:hover {
			color: $accent-1;
		}
	}

	.product-price {
		font-size: rem-calc(28);
		font-weight: 400;
		color: $accent-1;
	}

	.wishlist-link a {
		font-size: rem-calc(14);
		font-weight: 500;
		color: $black;
		transition: 0.1s ease-in-out;

		&:hover {
			color: $accent-1;
		}
	}
}

/*-------------------
Single Product
-------------------*/

.product-images {

	@media (min-width: 76px) {
		padding-right: rem-calc(30);
	}

	margin: auto;

	.image-thumbs img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}

	.image-thumbs {
		margin: rem-calc(0 -5);
		> div {
			padding: rem-calc(0 5);

			&:last-child {
			}
		}
	}

	.image-main {

		img {
			display: block;
			max-height: 400px;
			width: auto;
			margin: 0 auto;
		}
	}
}

.comments {
	.card {
		min-width: 100%;

		.card-header {
			background-color: $accent-1;
			color: $white;
		}

		.card-body {
			padding: 0;
		}
	}

	.comment-wrapper {

		.comment-content {
			padding: rem-calc(20 20 0 20);

			.comment-author p {
				font-size: rem-calc(16);
				font-weight: 700;
				line-height: rem-calc(15);
				color: $black;
			}
		}

		&.owner {
			background-color: $bg-alt;

			.comment-author p {
				color: $accent-1;
			}
		}
	}

	.no-comments {
		padding: rem-calc(0 20);
	}

	.comment-form-wrapper {
		padding: rem-calc(0 20 20 20);

		.form-title {
			font-size: rem-calc(16);
			margin: rem-calc(0 0 30);
			text-transform: uppercase;
			font-weight: 500;
			line-height: rem-calc(16);
		}

		label {
			display: block;
			font-size: rem-calc(14);
			color: $medium-grey;
			margin-bottom: rem-calc(3);
		}

		input {
			width: 100%;
			background-color: transparent;
			border: 1px solid $light-grey;
			font-size: rem-calc(13);
			line-height: rem-calc(24);
			padding: rem-calc(8 15);
			color: $medium-grey;
		}

		textarea {
			width: 100%;
			background-color: transparent;
			border: 1px solid $light-grey;
			font-size: rem-calc(13);
			line-height: rem-calc(24);
			padding: rem-calc(8 15);
			color: $medium-grey;
			height: rem-calc(80);
		}
	}
}

/*-------------------
Shop Page
-------------------*/

.single-sidebar-widget {
	border: 1px solid $light-grey;
	padding: rem-calc(15 20);

	@media (min-width: 992px) {
		padding: rem-calc(25 20);
	}

	.navbar-toggler {
		padding: 0;
		display: flex;
		align-items: center;
		font-weight: 500;

		@media (min-width: 992px) {
			display: none;
		}

		span {
			margin-right: rem-calc(5);
		}
	}

	.sidebar-title {
		font-size: rem-calc(20);
		line-height: rem-calc(20);
		color: $black;
		font-weight: 500;
		margin-bottom: rem-calc(20);
	}

	.category-list {
		width: 100%;

		> li {
			position: relative;
			border-bottom: 1px solid $light-grey;

			a {
				display: block;
				font-size: rem-calc(14);
				color: $dark-grey;
				font-weight: 300;
				line-height: rem-calc(48);
				transition: 0.2s ease-in-out;

				&:hover {
					color: $accent-1-dark;
					text-decoration: none;
					font-weight: 400;
				}
			}

			&:last-child {
				border-bottom: none;
			}
		}
	}

	.sub-widget {
		label {
			margin: 0;
		}

		.checkbox-item,
		.radio-item {
			margin: 0 0 .5rem 0;
			padding: 0;
		}

		.checkbox-label,
		.radio-label {
			position: relative;
			cursor: pointer;
		}

		.checkbox {
			position: relative;
			top: rem-calc(-1);
			margin: 0 1rem 0 0;
			cursor: pointer;

			&:before {
				transition: 0.1s ease-in-out;
				transform: rotate(-45deg) scale(0, 0);
				content: "";
				position: absolute;
				left: rem-calc(3);
				top: rem-calc(2);
				z-index: 1;
				width: rem-calc(12);
				height: rem-calc(6);
				border: 2px solid $accent-1;
				border-top-style: none;
				border-right-style: none;
			}

			&:checked {
				&:before {
					transform: rotate(-45deg) scale(1, 1);
				}
			}

			&:after {
				content: "";
				position: absolute;
				top: rem-calc(-2);
				left: 0;
				width: 1rem;
				height: 1rem;
				background: $white;
				border: 1px solid $light-grey;
				cursor: pointer;
			}

		}

		.radio {
			position: relative;
			margin: 0 1rem 0 0;
			cursor: pointer;

			&:before {
				transition: 0.1s ease-in-out;
				transform: scale(0, 0);
				content: "";
				position: absolute;
				top: rem-calc(1);
				left: rem-calc(1);
				z-index: 1;
				width: rem-calc(10);
				height: rem-calc(10);
				background: $accent-1;
				border-radius: 50%;
			}

			&:checked {
				&:before {
					transform: scale(1, 1);
				}
			}

			&:after {
				content: "";
				position: absolute;
				top: rem-calc(-2);
				left: rem-calc(-2);
				width: 1rem;
				height: 1rem;
				background: $white;
				border: 1px solid $light-grey;
				border-radius: 50%;
			}
		}
	}
}
