/*-------------------
Global
-------------------*/
body {
  background-color: #ffffff; }

a {
  color: #008a8a;
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    color: #003e3e;
    text-decoration: none; }

p {
  font-size: 1rem;
  line-height: 1.5625rem;
  color: #727272;
  font-weight: 300; }

img {
  width: 100%;
  max-width: 100%; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.table tbody th,
.table tbody td {
  vertical-align: middle; }

.alert {
  margin-bottom: 0; }

/*-------------------
Header and Menu
-------------------*/
.menu-top {
  background-color: #008a8a; }
  .menu-top .social-icons li {
    padding-right: 0.625rem; }
    .menu-top .social-icons li:hover {
      color: #f8f8f8; }
  .menu-top .nav-item a {
    padding: 0 0.625rem; }

.social-icons {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0; }
  .social-icons a {
    color: #f8fafc; }

.dropdown-menu .dropdown-item {
  color: #1e1e1e; }

.header-nav {
  flex-wrap: nowrap; }
  .header-nav .dropdown .user-thumb {
    width: 32px;
    height: 32px;
    margin-right: 10px; }
  .header-nav .dropdown .dropdown-toggle {
    padding: 0.3125rem 0; }
    .header-nav .dropdown .dropdown-toggle::after {
      color: #ffffff; }
  .header-nav .dropdown .dropdown-menu-right {
    width: 100%;
    top: -0.1875rem !important;
    border-radius: 0; }

.navigation-menu .main-menu .navbar-expand-md {
  justify-content: space-between; }
.navigation-menu .main-menu .navbar {
  padding: 0; }
  .navigation-menu .main-menu .navbar .navbar-collapse {
    flex-grow: 0; }
  .navigation-menu .main-menu .navbar .navbar-brand {
    max-width: 7.5rem;
    margin-right: 0; }
    @media (min-width: 768px) {
      .navigation-menu .main-menu .navbar .navbar-brand {
        max-width: 12.5rem; } }
  .navigation-menu .main-menu .navbar .nav-link {
    color: #333333; }
.navigation-menu .main-menu a {
  text-transform: uppercase; }

/*-------------------
Main Content
-------------------*/
.main-content {
  min-height: calc(100vh - 300px);
  overflow-x: hidden; }

/*-------------------
Search
-------------------*/
.search-area {
  background-color: #f8f8f8; }
  .search-area .search-container {
    background-color: #ffffff;
    position: relative; }

.product-thumb {
  max-width: 100px; }

.result-list {
  display: none;
  position: absolute;
  z-index: 1;
  width: calc(100% - 30px);
  background-color: #ffffff; }
  @media (min-width: 576px) {
    .result-list {
      max-width: 510px; } }
  @media (min-width: 768px) {
    .result-list {
      max-width: 690px; } }
  @media (min-width: 992px) {
    .result-list {
      max-width: 930px; } }
  @media (min-width: 1200px) {
    .result-list {
      max-width: 1110px; } }
  .result-list .list-group-item a {
    display: block; }
  .result-list .list-group-item .product-thumbnail {
    max-width: 50px;
    margin-right: 1.25rem; }
  .result-list.active {
    display: block; }

.shop-page-content .search-area,
.single-product-page-content .search-area {
  background-color: #ffffff; }

/*-------------------
Hero Content
-------------------*/
.hero-area {
  background-color: #f8f8f8; }
  .hero-area .hero-category-container {
    background-color: #ffffff; }
    .hero-area .hero-category-container .navbar-toggler {
      display: flex;
      align-items: center;
      color: #ffffff;
      background-color: #008a8a;
      font-size: 1rem;
      text-transform: uppercase;
      width: 100%;
      text-align: left;
      padding: 0.9375rem;
      margin-bottom: 1.25rem;
      border: none;
      border-radius: 0; }
      @media (min-width: 992px) {
        .hero-area .hero-category-container .navbar-toggler {
          display: none; } }
      .hero-area .hero-category-container .navbar-toggler span {
        margin-right: 0.3125rem;
        font-size: 1.25rem; }
    .hero-area .hero-category-container .category-menu {
      border: none;
      position: relative;
      float: none;
      top: 0; }
      .hero-area .hero-category-container .category-menu ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        .hero-area .hero-category-container .category-menu ul li a {
          display: block;
          padding: 0.625rem 1.5625rem;
          line-height: 1.875rem;
          font-size: 0.875rem;
          color: #333333;
          font-weight: 300;
          position: relative;
          border-bottom: 1px solid #f8f8f8;
          transition: 0.2s ease-in-out; }
        .hero-area .hero-category-container .category-menu ul li:hover a {
          color: #008a8a;
          font-weight: bold; }
    @media (min-width: 992px) {
      .hero-area .hero-category-container .banner.mt-30 {
        margin-top: 1.875rem; } }
    .hero-area .hero-category-container .product-container {
      display: block;
      cursor: pointer; }
      .hero-area .hero-category-container .product-container .image-container {
        position: relative; }
      .hero-area .hero-category-container .product-container .hero-details {
        bottom: 0;
        position: absolute;
        padding: 0.9375rem 1.875rem;
        background-color: rgba(253, 186, 93, 0.7);
        color: #333333;
        transition: 0.2s ease; }
        .hero-area .hero-category-container .product-container .hero-details .feature__title {
          color: #333333;
          font-size: 1.25rem;
          font-weight: bold;
          margin-bottom: 0.3125rem;
          transition: 0.2s ease; }
      .hero-area .hero-category-container .product-container:hover .hero-details {
        background-color: rgba(253, 186, 93, 0.9); }
  .hero-area .feature-area {
    display: flex;
    justify-content: space-around; }
    .hero-area .feature-area .single-feature {
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .hero-area .feature-area .single-feature .icon {
        font-size: 1.75rem;
        line-height: 1.75rem; }
        @media (min-width: 768px) {
          .hero-area .feature-area .single-feature .icon {
            margin-right: 1rem; } }
      .hero-area .feature-area .single-feature p {
        font-size: 0.875rem;
        line-height: 0.9375rem;
        color: #1e1e1e;
        margin-bottom: 0;
        font-weight: bold; }
        .hero-area .feature-area .single-feature p span {
          display: block;
          font-size: 0.75rem;
          line-height: 1.5rem;
          color: #727272;
          font-weight: 300; }

/*-------------------
Sections
-------------------*/
.section-title h2 {
  background-color: #ffffff;
  color: #008a8a;
  z-index: 2;
  display: inline-block;
  padding-right: 1.25rem; }
  .section-title h2 span {
    font-style: italic;
    font-weight: 300;
    color: #727272; }
  .section-title h2::before {
    position: absolute;
    top: 20px;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 138, 138, 0.2);
    content: "";
    z-index: -1; }

/*-------------------
Feature Products
-------------------*/
.feature-product {
  display: flex;
  flex-direction: column; }
  .feature-product .image {
    margin-bottom: 1.25rem;
    position: relative;
    border-bottom: 4px solid transparent;
    transition: 0.3s ease-in-out; }
    .feature-product .image img {
      max-height: 200px;
      width: auto;
      margin: 0 auto;
      display: block; }
    .feature-product .image .hover-icon {
      position: absolute;
      display: inline-block;
      right: 0.625rem;
      top: 0.625rem;
      padding: 0.375rem 0.75rem;
      border-radius: 50%;
      text-align: center;
      visibility: hidden;
      opacity: 0;
      color: #ffffff;
      font-size: 1.25rem;
      text-decoration: none;
      transition: 0.3s ease-in-out; }
      .feature-product .image .hover-icon:last-of-type {
        top: 4.0625rem; }
      .feature-product .image .hover-icon.heart {
        background-color: rgba(240, 83, 77, 0.7); }
      .feature-product .image .hover-icon.view {
        background-color: rgba(253, 186, 93, 0.7); }
      .feature-product .image .hover-icon:hover.heart {
        background-color: #f0534d; }
      .feature-product .image .hover-icon:hover.view {
        background-color: #fdba5d; }
  .feature-product .product-title a {
    font-weight: 300;
    color: #1e1e1e; }
  .feature-product .price {
    font-size: 1.125rem;
    font-weight: 400;
    color: #008a8a; }
  .feature-product:hover .image {
    border-bottom: 4px solid #fdba5d; }
    .feature-product:hover .image .hover-icon {
      visibility: visible;
      opacity: 1; }

/*-------------------
Popular Categories
-------------------*/
.popular-categories .category-banner {
  position: relative; }
  .popular-categories .category-banner a::before {
    position: absolute;
    top: 19.5px;
    right: 19.5px;
    bottom: 19.5px;
    left: 19.5px;
    border: 1.5px solid #fdba5d;
    content: "";
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  .popular-categories .category-banner a:hover::before {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

/*-------------------
Footer
-------------------*/
.footer-container {
  background-color: #1e1e1e; }
  .footer-container .footer-social-link-container {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333; }
    .footer-container .footer-social-link-container .social-icons {
      justify-content: space-evenly; }
      .footer-container .footer-social-link-container .social-icons a {
        color: #f8fafc;
        transition: 0.2s ease-in-out; }
        .footer-container .footer-social-link-container .social-icons a:hover {
          color: #008a8a; }
    .footer-container .footer-social-link-container .title {
      font-size: 0.875rem;
      line-height: 1rem;
      color: #ffffff;
      font-weight: 400;
      margin-right: 10px; }
    .footer-container .footer-social-link-container .app-download-area {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .footer-container .footer-social-link-container .app-download-area .app-download-btn {
        font-size: 0.875rem;
        color: #ffffff;
        padding: 0.4375rem 0.9375rem;
        border-radius: 0.125rem;
        margin-right: 0.625rem;
        display: inline-block;
        position: relative;
        font-weight: 400;
        background: #333333;
        text-decoration: none;
        transition: 0.2s ease-in-out; }
        .footer-container .footer-social-link-container .app-download-area .app-download-btn:hover {
          background: #008a8a; }

.footer-bottom-navigation {
  background-color: #1e1e1e; }
  .footer-bottom-navigation .navigation-container {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
    font-weight: 300;
    padding: 0;
    margin: 0; }
    .footer-bottom-navigation .navigation-container a {
      color: #ffffff;
      font-weight: 300;
      transition: 0.1s ease-in-out; }
      .footer-bottom-navigation .navigation-container a:hover {
        color: #008a8a;
        font-weight: bold; }
  .footer-bottom-navigation .copyright-text {
    font-size: 0.875rem;
    color: #ffffff;
    margin: 0; }

.single-product-details-container .product-title {
  font-size: 1.625rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #1e1e1e; }
.single-product-details-container .comment-links a {
  margin-right: 0.9375rem;
  font-weight: 400;
  color: #727272;
  transition: 0.1s ease-in-out; }
  .single-product-details-container .comment-links a:hover {
    color: #008a8a; }
.single-product-details-container .product-price {
  font-size: 1.75rem;
  font-weight: 400;
  color: #008a8a; }
.single-product-details-container .wishlist-link a {
  font-size: 0.875rem;
  font-weight: 500;
  color: #1e1e1e;
  transition: 0.1s ease-in-out; }
  .single-product-details-container .wishlist-link a:hover {
    color: #008a8a; }

/*-------------------
Single Product
-------------------*/
.product-images {
  margin: auto; }
  @media (min-width: 76px) {
    .product-images {
      padding-right: 1.875rem; } }
  .product-images .image-thumbs img {
    width: 100%;
    max-width: 100%;
    height: auto; }
  .product-images .image-thumbs {
    margin: 0 -0.3125rem; }
    .product-images .image-thumbs > div {
      padding: 0 0.3125rem; }
  .product-images .image-main img {
    display: block;
    max-height: 400px;
    width: auto;
    margin: 0 auto; }

.comments .card {
  min-width: 100%; }
  .comments .card .card-header {
    background-color: #008a8a;
    color: #ffffff; }
  .comments .card .card-body {
    padding: 0; }
.comments .comment-wrapper .comment-content {
  padding: 1.25rem 1.25rem 0 1.25rem; }
  .comments .comment-wrapper .comment-content .comment-author p {
    font-size: 1rem;
    font-weight: 700;
    line-height: 0.9375rem;
    color: #1e1e1e; }
.comments .comment-wrapper.owner {
  background-color: #f8f8f8; }
  .comments .comment-wrapper.owner .comment-author p {
    color: #008a8a; }
.comments .no-comments {
  padding: 0 1.25rem; }
.comments .comment-form-wrapper {
  padding: 0 1.25rem 1.25rem 1.25rem; }
  .comments .comment-form-wrapper .form-title {
    font-size: 1rem;
    margin: 0 0 1.875rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1rem; }
  .comments .comment-form-wrapper label {
    display: block;
    font-size: 0.875rem;
    color: #727272;
    margin-bottom: 0.1875rem; }
  .comments .comment-form-wrapper input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #dddddd;
    font-size: 0.8125rem;
    line-height: 1.5rem;
    padding: 0.5rem 0.9375rem;
    color: #727272; }
  .comments .comment-form-wrapper textarea {
    width: 100%;
    background-color: transparent;
    border: 1px solid #dddddd;
    font-size: 0.8125rem;
    line-height: 1.5rem;
    padding: 0.5rem 0.9375rem;
    color: #727272;
    height: 5rem; }

/*-------------------
Shop Page
-------------------*/
.single-sidebar-widget {
  border: 1px solid #dddddd;
  padding: 0.9375rem 1.25rem; }
  @media (min-width: 992px) {
    .single-sidebar-widget {
      padding: 1.5625rem 1.25rem; } }
  .single-sidebar-widget .navbar-toggler {
    padding: 0;
    display: flex;
    align-items: center;
    font-weight: 500; }
    @media (min-width: 992px) {
      .single-sidebar-widget .navbar-toggler {
        display: none; } }
    .single-sidebar-widget .navbar-toggler span {
      margin-right: 0.3125rem; }
  .single-sidebar-widget .sidebar-title {
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: #1e1e1e;
    font-weight: 500;
    margin-bottom: 1.25rem; }
  .single-sidebar-widget .category-list {
    width: 100%; }
    .single-sidebar-widget .category-list > li {
      position: relative;
      border-bottom: 1px solid #dddddd; }
      .single-sidebar-widget .category-list > li a {
        display: block;
        font-size: 0.875rem;
        color: #333333;
        font-weight: 300;
        line-height: 3rem;
        transition: 0.2s ease-in-out; }
        .single-sidebar-widget .category-list > li a:hover {
          color: #003e3e;
          text-decoration: none;
          font-weight: 400; }
      .single-sidebar-widget .category-list > li:last-child {
        border-bottom: none; }
  .single-sidebar-widget .sub-widget label {
    margin: 0; }
  .single-sidebar-widget .sub-widget .checkbox-item,
  .single-sidebar-widget .sub-widget .radio-item {
    margin: 0 0 .5rem 0;
    padding: 0; }
  .single-sidebar-widget .sub-widget .checkbox-label,
  .single-sidebar-widget .sub-widget .radio-label {
    position: relative;
    cursor: pointer; }
  .single-sidebar-widget .sub-widget .checkbox {
    position: relative;
    top: -0.0625rem;
    margin: 0 1rem 0 0;
    cursor: pointer; }
    .single-sidebar-widget .sub-widget .checkbox:before {
      transition: 0.1s ease-in-out;
      transform: rotate(-45deg) scale(0, 0);
      content: "";
      position: absolute;
      left: 0.1875rem;
      top: 0.125rem;
      z-index: 1;
      width: 0.75rem;
      height: 0.375rem;
      border: 2px solid #008a8a;
      border-top-style: none;
      border-right-style: none; }
    .single-sidebar-widget .sub-widget .checkbox:checked:before {
      transform: rotate(-45deg) scale(1, 1); }
    .single-sidebar-widget .sub-widget .checkbox:after {
      content: "";
      position: absolute;
      top: -0.125rem;
      left: 0;
      width: 1rem;
      height: 1rem;
      background: #ffffff;
      border: 1px solid #dddddd;
      cursor: pointer; }
  .single-sidebar-widget .sub-widget .radio {
    position: relative;
    margin: 0 1rem 0 0;
    cursor: pointer; }
    .single-sidebar-widget .sub-widget .radio:before {
      transition: 0.1s ease-in-out;
      transform: scale(0, 0);
      content: "";
      position: absolute;
      top: 0.0625rem;
      left: 0.0625rem;
      z-index: 1;
      width: 0.625rem;
      height: 0.625rem;
      background: #008a8a;
      border-radius: 50%; }
    .single-sidebar-widget .sub-widget .radio:checked:before {
      transform: scale(1, 1); }
    .single-sidebar-widget .sub-widget .radio:after {
      content: "";
      position: absolute;
      top: -0.125rem;
      left: -0.125rem;
      width: 1rem;
      height: 1rem;
      background: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 50%; }

/*# sourceMappingURL=styles.css.map */
